@font-face {
    font-family: popin_bold;
    src: url(../fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: popin_regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}
::selection {
    background-color: #d8d8d8;
    color: #000;
}
body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    outline: 1px solid slategrey;
}
p,
a,
label,
ul,
li {
    font-family: popin_regular;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: popin_bold;
}
.myBtn {
    position: relative;
}
.myBtn .btn_shape {
    stroke-dasharray: 150 540;
    stroke-dashoffset: -154;
    stroke-width: 8px;
    fill: transparent;
    stroke: #d8d8d8;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.myBtn .text {
    font-size: 2vh;
    margin-left: 4vh;
    line-height: 25px;
    text-transform: uppercase;
    color: #fff !important;
    top: -48px;
    position: relative;
    cursor: pointer;
}
.myBtn:hover .btn_shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

.main-slider {
    /* background-image: url(../images/home_slider.png); */
    /* height: 580px; */
    /* background-size: cover;
    background-attachment: fixed; */
    box-shadow: 0 10px 10px black;
}
.slick-dots {
    display: none !important;
}
.why_box {
    height: 63vh;
    padding: 20px;
    background-color: #373435;
}
.why_box .color {
    display: none;
}
.why_box:hover .color {
    display: block;
}
.why_box:hover .dark {
    display: none;
}
.why_box img {
    display: block;
    margin: auto;
    width: 13vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}
.why_box h3 {
    color: #fff;
    font-size: 2.5vh;
    font-weight: 500;
    font-family: popin_regular;
}
.why_box p {
    text-align: justify;
    font-size: 1.5vh;
    color: #dfdfdf;
}
.carousel-control {
    position: absolute;
    bottom: 60px !important;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.carousel-control.right {
    right: 15px !important;
}
.carousel-control.left {
    right: 75px !important;
}
.carousel-control.left,
.carousel-control.right {
    background-image: unset !important;
}
.carousel-indicators {
    position: absolute;
    top: 40vh !important;
    left: 4vh !important;
    z-index: 15;
    counter-reset: slider;
    width: 50% !important;
    padding-left: 0;
    margin-left: 0 !important;
}
.carousel-indicators li {
    display: block !important;
    background: #fff !important;
    width: 4px !important;
    height: 5vh !important;
    margin-bottom: 3vh !important;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    text-indent: 0;
}
.carousel-indicators li::after {
    position: absolute;
    counter-increment: slider;
    right: -6vh;
    top: 1vh;
    font-size: 2vh;
    color: #fff;
    content: "0" counter(slider);
}
.carousel-indicators li.active::after {
    position: absolute;
    counter-increment: slider;
    right: -6vh;
    top: 2.4vh;
    font-size: 2.8vh;
    color: #d8d8d8;
    content: "0" counter(slider);
}
.carousel-indicators li.active {
    background: #d8d8d8 !important;
    border: 1px solid #d8d8d8;
    height: 8vh !important;
}
.carousel-caption {
    top: 38% !important;
}
.bg-theme-color {
    background-color: #4b4b4d !important;
}
.text-theme-color {
    color: #4b4b4d !important;
}
.bg-theme-color2 {
    background-color: #d8d8d8 !important;
}
.text-theme-color2 {
    color: #d8d8d8 !important;
}
.text-color2{

color: #383838 !important;

}
.section_about {
    position: relative;
    margin-top: -20px;
}
.section_about .about_logo {
    position: absolute;
    width: 72vh;
    left: -28%;
    top: 80px;
}
.section_about .about {
    padding-left: 45vh;
    font-size: 1.8vh;
    font-weight: normal;
    padding-top: 100px;
    padding-right: 33vh;
}
.section_about .about h5 {
    color: #d8d8d8;
    margin-left: 15px;
}
.section_about .about span {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 9.3vh;
    text-shadow: 5px 7px 6px #33333336;
    position: relative;
    z-index: 1;
}
.section_about .about span::after {
    position: absolute;
    content: "";
    height: 15vh;
    width: 11vh;
    z-index: -1;
    right: -4vh;
    background-color: #d8d8d8;
    top: -15px;
}
.section_about .about p {
    color: #eee;
    font-weight: normal;
}
.carousel-caption .about_btn {
    font-size: 2vh;
    margin-top: 30px;
    display: inline-block;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}
.section_about .about .about_btn {
    border: 2px solid #d8d8d8;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}
.font-2 {
    font-size: 2vh;
}
.font-1 {
    font-size: 1vh;
}
.font-1-8 {
    font-size: 1.8vh;
}
.section_story .about_btn {
    padding: 2vh 5vh;
    font-size: 2vh;
    background-color: #d8d8d8;
    color: #333;
    font-weight: bold;
}
.section_about .about_diamond {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 130px;
}
.topTobottom {
    position: absolute;
    bottom: 5vh;
    left: 99vh;
    border: 3px solid #fff;
    height: 9vh;
    width: 5.5vh;
    line-height: 9vh;
    text-align: center;
    border-radius: 10px;
    z-index: 15;
}
.topTobottom a {
    color: #fff;
}
.story_diamond {
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 180px;
}
.section_story {
    position: relative;
    background-color: #373435;
}
.contact_form {
    position: relative;
}
.contact_form .contact_diamond {
    position: absolute;
    right: 120px;
    bottom: 50px;
    width: 180px;
}
.section_shopby {
    padding: 50px;
}
.shop_sub {
    padding-right: 11vh;
    font-size: 2vh;
}
.container-custom {
    width: 73%;
    margin: auto;
}
.container-custom1 {
    width: 90%;
    margin: auto;
}
.container-custom2 {
    width: 83%;
    margin: auto;
}
.heading_start {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 8.3vh;
    text-shadow: 5px 7px 6px #33333336;
    position: relative;
    z-index: 1;
    padding-left: 4vh;
}
.heading_start::before {
    position: absolute;
    content: "";
    height: 16vh;
    width: 10vh;
    z-index: -1;
    left: 1vh;
    background-color: #d8d8d8;
    top: -3vh;
}
.heading_start9 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 9.3vh;
    text-shadow: 5px 7px 6px #33333336;
    position: relative;
    z-index: 1;
    padding-left: 4vh;
}
.heading_start9::before {
    position: absolute;
    content: "";
    height: 16vh;
    width: 10vh;
    z-index: -1;
    left: 1vh;
    background-color: #d8d8d8;
    top: -3vh;
}
.heading_start7 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10vh;
    text-shadow: 5px 7px 6px #33333336;
    position: relative;
    z-index: 1;
    margin-left: 5vh;
}
.heading_start7::before {
    position: absolute;
    content: "";
    height: 14vh;
    width: 9vh;
    z-index: -1;
    left: 0px;
    background-color: #d8d8d8;
    top: -15px;
}
.dropdown-menu{
    background-color: #d8d8d8 !important;
}
.breadcrumb{
    background-color: rgba(0,0,0,0.6);
    padding: 25vh 10vh 10vh 10vh; 
    text-align: center; 
    margin-bottom: 0;
}
.breadcrumb .breadcrumb-title h1{
    font-size: 8vh;
    color: #d8d8d8;
    text-transform: uppercase;
    letter-spacing: 1vh;
}
.divider{
    padding: 1px;
    border:none;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background: rgba(0,0,0,0.1);
}
.shop_section .item{
    padding: 10px;
    border:1px solid #0c0c0c;
    margin-bottom: 35px; 
} 
.pro-detail h2{
    color: #dfdfdf;
    font-family: popin_regular; 
}
.img-preview img{
    width: 16vh;
    padding: 1vh;
    border:1px solid #d8d8d8;
}
.sort{
    padding: 10px;
    width: 200px;
    margin-bottom: 30px; 
    outline: none;
    background: #d8d8d8
} 
.pagination>li>a, .pagination>li>span{
    background: #373435;
    border:none; 
    float: none;
    color: #d8d8d8;
    padding: 10px 20px; 
}
.shop_section .item h3{
    text-align: center;
    margin: 0;
    padding: 0; 
    font-size: 2.7vh;
}
.shop_section .item h3 a{
    color: #d8d8d8;  
}
.shop_section .item .thumbnail{
    overflow: hidden;
}
.shop_section .item .thumbnail img{
    transition: 0.5s;
}
.item .thumbnail img:hover{
    transform: scale(1.2,1.2);
}
.btn-shop{
    background: #d8d8d8;
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5vh; 
}
.btn-shop i{
    color: #d8d8d8;
    transition: 0.5s;
}
.btn-shop:hover i{
    color: #000;
    margin-left: 20px;
}
.breadcrumb .breadcrumb-title p{
    padding-top: 3vh;
}
.breadcrumb .breadcrumb-title p font{
    color: #fff; 
    font-weight: normal
}
.shop_section{
    background: #4B4B4D;
    padding: 100px;
}
.breadcrumb .breadcrumb-title p a{
    font-size: 2.3vh; 
    color: #dfdfdf; 
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
.vision_label {
    margin-top: 20vh;
    font-size: 2vh;
    color: #fff;
    font-weight: normal;
    margin-right: 10vh;
}
.vision_para {
    font-size: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.slider_subtext {
    position: absolute;
    z-index: 10;
    font-size: 4vh;
    top: -4vh;
    text-shadow: none;
    left: -3.6vh;
    font-weight: normal;
}
.heading_start8 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 9.3vh;
    text-shadow: 5px 7px 6px #33333336;
    position: relative;
    z-index: 1;
}
.heading_start8::before {
    position: absolute;
    content: "";
    height: 20vh;
    width: 9.4vh;
    z-index: -1;
    left: 0vh;
    background-color: #d8d8d8;
    top: -7vh;
}
.slick-prev {
    left: -18vh !important;
}
.slick-prev:before,
.slick-next:before {
    opacity: 1 !important;
}
.slick-next {
    right: -18vh !important;
}
.slider_left_p {
    border-radius: 2px;
    border-left: 4px solid #fff;
    padding-left: 15px;
    font-size: 2vh;
    margin-top: 3vh;
}
.heading_start5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 9vh;
    text-shadow: 5px 7px 6px #33333336;
    position: relative;
    z-index: 1;
}
.heading_start5::before {
    position: absolute;
    content: "";
    height: 15vh;
    width: 10vh;
    z-index: -1;
    left: -1.4vh;
    background-color: #d8d8d8;
    top: -2.5vh;
}
.heading_start_1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 67px;
    padding-left: 10px;
    text-shadow: 0 7px 6px #333;
    position: relative;
    z-index: 1;
}
.heading_start_1::before {
    position: absolute;
    content: "";
    height: 105px;
    width: 75px;
    z-index: -1;
    left: 0px;
    background-color: #d8d8d8;
    top: -15px;
}
.member_sub {
    font-size: 2vh;
    margin-right: 33vh;
}
.shape {
    position: relative;
}
.shape img {
    margin: auto;
    width: 80px;
    height: 8vh;
    object-fit: contain;
    transition: 0.5s;
    display: block;
}
.shape p {
    text-align: center;
    font-size: 1.4vh;
    text-transform: uppercase;
    color: #d8d8d8;
    margin-top: 30px;
}
.shape_less img {
    margin: auto;
    width: 80px;
    height: 8vh;
    transition: 0.5s;
    object-fit: contain;
    display: block;
}
.shape_less p {
    text-align: center;
    font-size: 1.4vh;
    text-transform: uppercase;
    color: #d8d8d8;
    margin-top: 30px;
}
.font-2vh {
    font-size: 2vh;
}
.font-3vh {
    font-size: 3vh;
}
.font-4vh {
    font-size: 4vh;
}
.font-5vh {
    font-size: 5vh;
}
.section_shopby .shape::before {
    position: absolute;
    background-image: url(../images/shade.png);
    background-size: 12vh 34vh;
    content: "";
    width: 12vh;
    height: 33vh;
    z-index: -1;
    left: 0vh;
    top: -10vh;
    transition: 0.5s;
}
.section_shopby .shape:hover::before {
    position: absolute;
    background-image: url(../images/shade.png);
    background-size: 12vh 34vh;
    content: "";
    width: 12vh;
    height: 33vh;
    z-index: -1;
    transform: scale(1.2, 1.2);
    left: 0vh;
    top: -10vh;
}
.shape .dark {
    display: none;
}
.shape:hover .color {
    /*display: none;*/
}
.shape:hover .color {
    /*display: block;*/
    transform: scale(0.8, 0.8);
}
.shape_less:hover img {
    display: block;
    transform: scale(1.2, 1.2);
}
.shape:hover p {
    /*color: #000;*/
}
.social-header li{
    margin-right: 10px;
    font-size: 20px;
}
.lab_para {
    font-size: 2vh;
    padding-top: 3vh;
    padding-left: 1vh;
}
.section_lab {
    padding: 70px;
    background-image: url(../images/lab_back.png);
}
.section_member {
    padding: 16vh 20vh;
    background-image: url(../images/member_back.png);
    background-size: 100% 100%;
}
.footer {
    padding: 5vh 12vh;
    background-image: url(../images/footer_back.png);
    background-size: 100% 100%;
    font-size: 2vh;
}
.footer .row i {
    background-color: #393738;
    color: #d8d8d8 !important;
    height: 5vh;
    width: 5vh;
    text-align: center;
    border-radius: 30px;
    padding-top: 1.6vh;
}
.footer h5 {
    text-transform: uppercase;
    font-size: 2vh;
    font-family: popin_regular;
    font-weight: bold;
}
.footer .social a,
.contact_footer .social a {
    margin-right: 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: inline-block;
}
.footer .social a img,
.contact_footer .social a img {
    width: 5.4vh;
}
.footer ul,
.contact_footer ul {
    margin-top: 3vh;
    font-size: 2vh !important;
    margin-left: 12px;
    margin-bottom: 2.5vh;
}
.footer p,
.contact_footer p {
    font-weight: bold;
}
.footer .footer_link,
.contact_footer .footer_link {
    border-top: 1px solid #4b4b4d;
    border-bottom: 1px solid #4b4b4d;
}
.footer .footer_link ul li,
.contact_footer .footer_link ul li {
    margin-right: 20px;
}
.footer .footer_link ul li a,
.contact_footer .footer_link ul li a {
    font-size: 2vh;
    font-weight: normal;
}

.footer_last {
    padding: 15px;
    background-color: #393738;
}

.contact_footer {
    padding: 40px 120px;
    background-color: #d8d8d8;
}

.member {
    margin-top: 50px;
    background-image: url(../images/member_box.png);
    background-size: 100% 100% !important;
    height: 15vh;
    width: 100%;
}
.display-flex {
    display: flex;
}
.display-flex .thumb {
    width: 20%;
    height: 17vh;
}
.member img {
    width: 50%;
    height: 7vh;
    object-fit: contain;
    margin-top: 5vh;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s;
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.member img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.section_whylab {
    padding: 60px;
}
.why_para {
    padding-right: 12vh;
    font-size: 2vh;
}
.heading_start_2 {
    color: #333;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10vh;
    padding-left: 90px;
    text-shadow: 0 7px 6px #888;
    position: relative;
    z-index: 1;
}
.heading_start_2::before {
    position: absolute;
    content: "";
    height: 15vh;
    width: 12vh;
    z-index: -1;
    left: 7vh;
    background-color: #b1af8d;
    top: -20px;
}

.contact-slider {
    background-image: url(../images/contact_back.png);
    height: 100vh;
    background-size: cover;
    box-shadow: 0 10px 10px black;
}
.evolution-slider {
    background-image: url(../images/education_back.jpg);
    height: 95vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 10px black;
}
.section_location .canada {
    background-image: url(../images/canada_back.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
}
.diamond_sizechart {
    background-color: #444446;
    padding: 4vh;
}
.diamond_list #shape_box {
    display: flex;
}
.diamond_list #shape_box .size-chart {
    width: 10%;
}
.diamond_list {
    background-color: #d8d8d8;
    margin-top: -10vh;
    box-shadow: 0 5px 25px #222;
}
.diamond_list .shape p {
    color: #000;
}
.diamond_list .shape img {
    opacity: 0.2;
}
.diamond_list .shape.active img {
    opacity: 1;
}
.diamond_list .shape .radio {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    border: 1px solid #999;
}
.diamond_list .shape.active .radio {
    border: 1px solid #373435;
}
.diamond_list .shape.active .radio:after {
    display: block;
    height: 12px;
    content: "";
    right: 3px;
    bottom: -17px;
    width: 12px;
    border-radius: 20px;
    margin: 20px auto;
    position: absolute;
    background-color: #373435;
}
.diamond_list h1 {
    font-family: popin_regular;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 3vh;
}
.diamond-size {
    background-color: #373435;
}
.diamond-size .show {
    display: block;
}
.diamond-size .dis-none {
    display: none;
}
.diamond-size h2 {
    font-family: popin_regular;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 9vh;
    font-size: 5.5vh;
    color: #fff;
}
.diamond-size h2 span {
    color: #d8d8d8;
    font-family: popin_regular;
    font-weight: normal;
}
.diamond-size table {
    width: 100%;
    color: #fff;
    font-size: 2vh;
}
.diamond-size .table_content {
    border: 2px solid #d8d8d8;
    padding: 10px;
    margin-top: 9vh;
    margin-bottom: 9vh;
}
.diamond-size table tr th {
    font-size: 2.4vh;
}
.diamond-size table tr td,
th {
    padding: 2vh;
    padding-left: 3vh;
    width: 50%;
}
.diamond-size table tr td:nth-child(1) {
    border-right: 2px solid #d8d8d8;
}
.diamond-size table tr th {
    background-color: #d8d8d8;
    color: #000;
}
.diamond-size table tr:nth-child(odd) {
    background-color: #4b4b4d;
}
.section_location .canada:hover:after {
    width: 100%;
    bottom: 0;
    content: "";
    background-color: #d8d8d8;
    left: 0;
    position: absolute;
    height: 8vh;
}
.section_location .india:hover:after {
    width: 100%;
    bottom: 0;
    content: "";
    background-color: #d8d8d8;
    left: 0;
    position: absolute;
    height: 8vh;
}
.section_location .india {
    background-image: url(../images/india_back.png);
    height: 100vh;
    background-size: 100% 100%;
}
.canada p,
.india p {
    font-size: 2.8vh;
}
.canada h2,
.india h2 {
    padding-top: 25vh;
    font-size: 4.5vh;
}
.contact_form {
    background-image: url(../images/contact_form.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.story_box {
    background-image: url(../images/story_quality.png);
    background-size: 100% 100%;
}
.contact_form form input::placeholder,
.contact_form form textarea::placeholder {
    color: #d8d8d8;
}
.contact_form form input,
.contact_form form textarea {
    outline: none;
    padding: 3vh;
    padding-left: 0;
    border: none;
    font-size: 2.4vh;
    border-bottom: 1px solid #666;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 3vh;
    box-shadow: none !important;
    resize: vertical;
    color: #dfdfdf;
}
.contact_btn {
    background-color: #d8d8d8;
    color: #000;
    padding: 2vh 7vh;
    font-weight: bold;
    font-size: 2vh;
    border: none;
}
.story_main {
    padding-top: 18vh;
}
.my_menu {
    background-color: #d8d8d8;
    border-radius: 0;
    margin: auto;
    width: 83%;
    padding: 2.5vh;
    box-shadow: 0px 2px 40px #00000069;
}
.my_menu .navbar-brand {
    padding-top: 5px;
}
.my_menu .navbar-brand img {
    width: 28vh;
    margin-top: -0.5vh;
}
.my_menu .navbar-nav li a {
    text-transform: uppercase;
    font-size: 2vh;
    position: relative;
}
.my_menu .navbar-nav li a.active:after {
    content: "";
    height: 7px;
    width: 7px;
    border-radius: 7px;
    background-color: #373435;
    bottom: 0;
    left: 50%;
    position: absolute;
}
.my_menu .navbar-nav li a:hover {
    background-color: transparent;
    color: #000;
}
.my_menu .navbar-toggle {
    background-color: #4b4b4d;
    color: #000;
}
.my_menu .navbar-toggle .icon-bar {
    background-color: #fff;
}
.my_menu .navbar-toggle {
    margin-top: 15px;
    margin-right: 8px;
    margin-bottom: 0px;
}
.story_img {
    margin-left: -13vh;
}
.login_left {
    height: 80vh;
    padding: 5vh;
    background-image: url("../images/login_back.png");
}
.login_inventory {
    margin-top: 10vh;
}
.login_inventory img {
    width: 11vh;
    height: 12vh;
    object-fit: contain;
    display: block;
    margin: auto;
}
.login_inventory h5 {
    margin-left: 10px;
    font-size: 12px;
}
.login_inventory p {
    padding: 0vh 2vh;
    font-size: 1.3vh;
}
.login_inventory .col-md-3 {
    border-right: 1px solid #d8d8d8;
}
.login_box {
    height: 80vh;
    padding: 10vh;
}
.login_box .login_subbox {
    background-color: #d8d8d8;
    padding: 5vh;
    margin-top: 30px;
}
.login_subbox h4 {
    font-family: popin_regular;
    font-weight: 500;
    font-size: 3vh;
}
.login_form {
    margin-top: 20px;
}
.login_form .input-box {
    position: relative;
    margin-bottom: 20px;
}
.login_form .input-box img.right {
    width: 7vh;
    position: absolute;
    left: 0;
}
.login_form .input-box img.left {
    width: 25px;
    position: absolute;
    right: 15px;
    top: 2.5vh;
}
.login_form .input-box input.check {
    zoom: 1.5;
    outline: none;
    vertical-align: sub;
}
.login_form .input-box label {
    font-weight: normal !important;
    font-family: popin_regular !important;
}
.login_form .input-box input.text,.login_form .input-box textarea.text {
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    padding: 2vh;
    padding-left: 9vh;
    outline: none;
    font-size: 2vh;
    box-shadow: inset 0 3px 5px #bbb;
} 
.btn1 {
    width: 100%;
    background-color: #373435;
    color: #fff;
    border-radius: 30px;
    padding: 2vh;
    border: 2px solid #fff;
    font-size: 2vh;
    outline: none;
}
.btn2 {
    width: 100%;
    background-color: #4b4b4d;
    color: #fff;
    border-radius: 30px;
    padding: 2vh;
    font-size: 2vh; 
    outline: none;
    border: 2px solid #4b4b4d;
}
.spin {
    position: relative;
}
.spin .stand {
    width: 79vh;
}
.spin .diamond {
    width: 30vh;
    z-index: 99;
    position: absolute;
    left: 24vh;
    top: 11.5vh;
    transform-origin: center bottom;
    /* animation: spin_diamond 5s infinite linear; */
}
/* @keyframes spin_diamond {
    to {
        transform: rotateY(360deg);
    }
} */
.sli_right {
    opacity: 1 !important;
    bottom: 72px !important;
    right: 20px !important;
}
/* responsive css */
@media only screen and (max-width: 600px) {
    .diamond_list #shape_box {
        display: block !important;
    }
    .diamond_list #shape_box .size-chart {
        width: 33% !important;
        float: left !important;
    }
    .heading_start8 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 37px;
        text-shadow: 0 7px 6px #333;
        position: relative;
        z-index: 1;
    }
    .heading_start8::before {
        position: absolute;
        content: "";
        height: 70px;
        width: 37px;
        z-index: -1;
        left: 0px;
        background-color: #d8d8d8;
        top: -15px;
    }
    .slider_left_p {
        font-size: 10px;
    }
    .carousel-control.right {
        bottom: 0 !important;
    }
    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img,
    .img-responsive,
    .thumbnail a > img,
    .thumbnail > img {
        height: 300px !important;
        object-fit: cover;
    }
    .carousel-indicators li {
        height: 25px !important;
    }
    .carousel-indicators li.active {
        height: 35px !important;
    }
    .carousel-indicators {
        top: 43% !important;
    }
    .br-xs-none {
        border-right: none !important;
    }
    .contact_form .contact_diamond {
        position: absolute;
        right: 20px;
        bottom: 0px;
        width: 120px;
    }
    .contact-slider {
        background-image: url(../images/contact_back.png);
        height: 320px;
        background-size: cover;
        box-shadow: 0 10px 10px black;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .evolution-slider {
        background-image: url(../images/education_back.jpg);
        height: 320px;
        background-size: cover;
        box-shadow: 0 10px 10px black;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .story_img {
        margin-left: 0px;
        margin-top: 30px;
    }
    .story_diamond {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 100px;
    }
    .section_about .about {
        padding-right: 5px;
        padding-left: 25px;
        padding-top: 25px;
    }
    .section_about .about span {
        font-size: 59px;
    }
    .section_about .about h1::after {
        position: absolute;
        content: "";
        height: 85px;
        width: 60px;
        z-index: -1;
        right: 34px;
        background-color: #d8d8d8;
        top: -15px;
    }
    .section_about .about_diamond {
        position: absolute;
        right: 20px;
        bottom: -90px;
        width: 85px;
    }
    .section_shopby {
        margin-top: 70px;
        padding: 10px;
    }
    .heading_start {
        font-size: 50px;
    }
    .heading_start::before {
        position: absolute;
        content: "";
        height: 75px;
        width: 56px;
        z-index: -1;
        left: -12px;
        background-color: #d8d8d8;
        top: -14px;
    }
    .shape,
    .shape_less {
        height: 200px;
    }
    .shape::before {
        left: 0;
    }
    .lab_img {
        width: 250px;
        margin: auto;
        margin-top: 50px;
        display: block;
    }
    .section_lab {
        padding: 20px;
    }
    .heading_start_1 {
        font-size: 45px;
    }
    .heading_start_1::before {
        height: 82px;
        width: 55px;
        left: 0px;
        top: -15px;
    }
    .section_whylab {
        padding: 20px;
        padding-top: 50px;
    }
    .heading_start_2 {
        font-size: 31px;
        padding-left: 0;
    }
    .slick-prev:before {
        margin-left: -40px !important;
    }
    .slick-next:before {
        margin-left: -26px !important;
    }
    .card img {
        width: 60px !important;
        margin-top: 60px !important;
    }
    .card h4 {
        margin-top: 22px !important;
    }
    .section_member {
        padding-top: 70px !important;
        padding: 20px;
    }
    .footer {
        padding: 40px 10px 20px 40px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 1024px) {
    .section_about .about {
        padding-right: 75px;
        padding-left: 160px;
        padding-top: 75px;
    }
    .section_about .about h1 {
        font-size: 74px;
    }
    .section_about .about h1::after {
        position: absolute;
        content: "";
        height: 105px;
        width: 76px;
        z-index: -1;
        right: 14px;
        background-color: #d8d8d8;
        top: -13px;
    }
    .section_about .about_logo {
        width: 315px;
    }
    .section_about .about .about_para {
        padding-top: 30px !important;
    }
    .section_about .about p {
        font-size: 12px;
    }
    .section_about .about_diamond {
        position: absolute;
        right: 26px;
        bottom: 0px;
        width: 100px;
    }
}
@media screen and (min-width: 1360px) {
    .ind {
        margin-right: 90px;
    }
    .ind1 {
        margin-right: 70px;
    }
}
@media screen and (min-width: 1440px) {
    .ind {
        margin-right: 190px;
    }
    .ind1 {
        margin-right: 130px;
    }
}
@media screen and (min-width: 1600px) {
    .ind {
        margin-right: 310px;
    }
    .ind1 {
        margin-right: 205px;
    }
}
@media screen and (min-width: 1800px) {
    .ind {
        margin-right: 390px;
    }
    .ind1 {
        margin-right: 250px;
    }
}
@media screen and (min-width: 2000px) {
    .ind {
        margin-right: 180px;
    }
    .ind1 {
        margin-right: 345px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1440px) {
    .section_about .about h1 {
        font-size: 83px;
    }
    .section_about .about h1::after {
        position: absolute;
        content: "";
        height: 116px;
        width: 90px;
        z-index: -1;
        right: 2px;
        background-color: #d8d8d8;
        top: -16px;
    }
    .section_about .about_diamond {
        position: absolute;
        right: 50px;
        bottom: 0;
        width: 160px;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 2560px) {
    .section_about .about_logo {
        position: absolute;
        width: 700px;
        left: -29%;
        top: 80px;
    }
    .section_about .about {
        padding-left: 470px;
        padding-top: 100px;
        padding-right: 400px;
    }
    .section_about .about p {
        font-size: 22px;
    }
    .section_about .about h1 {
        font-size: 138px;
    }
    .section_about .about h1::after {
        position: absolute;
        content: "";
        height: 190px;
        width: 150px;
        z-index: -1;
        right: 45px;
        background-color: #d8d8d8;
        top: -22px;
    }
    .section_about .about h5 {
        font-size: 30px;
    }
    .section_about .about_diamond {
        position: absolute;
        right: 100px;
        bottom: 0;
        width: 280px;
    }
}

/* image effect */


/* cursor start */
.cursor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 0.5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border: 8px solid #d8d8d8;
    border-radius: 50%;
    opacity: 0.5;
    top: -2px;
    left: -2px;
    animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid #d8d8d8;
}
